/*
 * taalika/themes/steel/style.css
 *
 * Stylesheet for theme - steel.
 * =============================================================================
 * The MIT License (http://www.opensource.org/licenses/mit-license.php)
 *
 * Copyright (c) 2012 Sanjeev Premi (spremi at ymail.com).
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * =============================================================================
 */


/*
 * Based on color palette 'Boys will be Boys' by MarmiteMamie @ deviantart.com
 */

*
{
	margin			: 0;
	padding			: 0;
}

body
{
	background-color	: #151515;
	padding			: 5px;

	font-family		: DejaVu Sans, Calibri, Arial, Helvetica, sans-serif;
	font-size		: 1.0em ;
}

a
{
	text-decoration		: none;
	outline			: none;
}

a,
a:link,
a:active
{
	color			: #557e89;
}

a:hover
{
	color			: #2d484e;
}

img
{
	border-width		: 0;
}

/*
 * Page contents
 */
#pgContent
{
	width			: 800px;

	margin			: 10px auto;

	background-color	: #eaf5f7;

	border			: 1px solid #a5c7d2;
}

/*
 * Page header
 */
#pgHead
{
	height			: 50px;
	overflow		: hidden;

	background-color	: #2d484e;
}

#pgHead p
{
	padding			: 10px;

	color			: #d0e0e2;

	font-size		: 1.5em;
	font-weight		: bold;

	text-align		: left;

	vertical-align		: middle;
}

/*
 * Name of the directory
 */
#dirName
{
	padding			: 2px;

	background-color	: #557e89;
	color			: #fbf3e8;

	font-size		: 1.0em;
	font-weight		: bold;

	text-align		: left;
}

/*
 * Directory Info
 */
#dirInfo
{
	margin			: 10px;

	color			: #2d484e;

	text-align		: justify;
}

#dirInfo h2,
#dirInfo h3,
#dirInfo h4
{
	margin-top		: 5px;
	margin-bottom		: 10px;
}

#dirInfo p
{
	margin-bottom		: 5px;
}

/*
 * Directory listing
 */
table#dirList
{
	margin			: 10px;
	width			: 780px;

	table-layout		: fixed;
	border-collapse		: collapse;
	border-spacing		: 0px;

	color			: #99999a;

	font-family		: DejaVu Sans Mono, Courier New, fixed;
	font-weight		: bold;
}

table#dirList thead
{
	background-color	: #438ca9;
	color			: #c4e3ed;
}

table#dirList th,
table#dirList td
{
	padding			: 3px 10px;
}

table#dirList tbody tr
{
	border-bottom		: 1px dotted #557e89;
}

table#dirList tbody tr:hover
{
	background-color	: #fbf3e8;
}

th.icon,
td.icon
{
	width			: 50px;
}

th.name,
td.name
{
	width			: 250px;
}

th.perms,
td.perms
{
	width			: 100px;
}

th.mtime,
td.mtime
{
	width			: 200px;
}

th.size,
td.size
{
	width			: 100px;
}


th.name,
th.perms,
td.name,
td.perms
{
	text-align		: left;
}

th.mtime,
th.size,
td.mtime,
td.size
{
	text-align		: right;
}

/*
 * Page footer
 */
#pgFoot
{
	height			: 40px;
	overflow		: hidden;

	margin-top		: 20px;
	padding			: 10px 5px;

	background-color	: #a5c7d2;
	color			: #151515;
}

#pgFoot p
{
	margin-top		: 5px;
	font-size		: 0.9em;

	text-align		: left;
}

#pgFoot a,
#pgFoot a:link,
#pgFoot a:active
{
	color			: #2d484e;
	border-bottom		: 1px dotted #557e89;
}

#pgFoot a:hover
{
	color			: #151515;
	border-bottom		: 1px dotted #151515;
}

/*
 * File information
 */
#fileInfo
{
	position		: fixed !important;

	min-height		: 60px;

	bottom			: 0px;
	left			: 0px;
	right			: 0px;

	padding			: 5px;

	background-color	: #557e89;
	color			: #fbf3e8;

	border-top		: 3px solid #2d484e;

	text-align		: justify;
}

/*
 * 'About' dialog
 */
#pgAbout
{
	position		: absolute;
	width			: 450px;

	margin			: auto;
	padding			: 8px;

	background-color	: #fbf3e8;
	color			: #2d484e;

	border			: 1px solid #2d484e;
	z-index			: 10;
}

#pgAbout div
{
	border			: 1px solid #557e89;
}


#pgAbout h2
{
	font-size		: 1.3em;
	font-weight		: bold;

	padding			: 5px;
	margin-bottom		: 10px;

	background-color	: #557e89;
	color			: #fcf5eb;

	text-align		: center;
}

#pgAbout p
{
	padding			: 10px;

	color			: #5e7679;

	text-align		: justify;
}

#pgAbout a
{
	color			: #151515;
}
