{*
 * Tālikā
 *
 * Template - About dialog.
 * =============================================================================
 * The MIT License
 *
 * Copyright (c) 2012 Sanjeev Premi <spremi@ymail.com>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to
 * deal in the Software without restriction, including without limitation the
 * rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
 * sell copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 * =============================================================================
 *}
<div>
  <h2>About Tālikā</h2>
  <p>This application is result of my experiments with PHP, Smarty and prototype
  javascript framework. I will also be adding themes that support JQuery.</p>
  <p>It may not be the best/ fastest out there, but still quite different.</p>
  <p>Tālikā &copy; 2012 <a href="https://gitorious.org/~premi">Sanjeev Premi</a>.<br />
  It is avaliable under the terms of the
  <a href="http://www.opensource.org/licenses/mit-license.php">MIT license</a>.</p>
</div>
