/*
 * taalika/themes/default/style.css
 *
 * Stylesheet for default theme.
 * =============================================================================
 * The MIT License (http://www.opensource.org/licenses/mit-license.php)
 *
 * Copyright (c) 2012 Sanjeev Premi (spremi at ymail.com).
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * =============================================================================
 */


/*
 * Based on: http://www.colorcombos.com/color-schemes/133/ColorCombo133.html
 */

*
{
	margin			: 0;
	padding			: 0;
}

body
{
	background-color	: #b8b9bb;
	padding			: 5px;

	font-family		: DejaVu Sans, Calibri, Arial, Helvetica, sans-serif;
	font-size		: 1.0em ;

	vertical-align		: middle;
}

a
{
	text-decoration		: none;
	outline			: none;
}

a,
a:link,
a:active
{
	color			: #87aaae;
}

a:hover
{
	color			: #bc4676;
}

img
{
	border-width		: 0;
}

/*
 * Page contents
 */
#pgContent
{
	width			: 800px;

	margin			: 10px auto;

	background-color	: #f6f6f6;

	border			: 1px solid #87aaae;
}

/*
 * Page header
 */
#pgHead
{
	height			: 50px;
	overflow		: hidden;

	background-color	: #bc4676;
}

#pgHead p
{
	padding			: 10px;

	color			: #ddecef;

	font-size		: 1.5em;
	font-weight		: bold;

	text-align		: left;

	vertical-align		: middle;
}

/*
 * Name of the directory
 */
#dirName
{
	background-color	: #bfd9da;
	color			: #bc4676;

	padding			: 2px;

	font-size		: 1.0em;
	font-weight		: bold;

	text-align		: left;
}

/*
 * Directory Info
 */
#dirInfo
{
	margin			: 10px;

	color			: #5f787a;

	text-align		: justify;
}

#dirInfo h2,
#dirInfo h23
{
	margin-bottom		: 10px;
}

#dirInfo p
{
	margin-bottom		: 2px;
	line-height		: 1.1em;
}

/*
 * Directory listing
 */
table#dirList
{
	table-layout		: fixed;
	border-collapse		: collapse;
	border-spacing		: 0px;

	width			: 780px;
	margin			: 10px;

	color			: #858687;

	font-family		: DejaVu Sans Mono, Courier New, fixed;
	font-size		: 1.0em;
	font-weight		: bold;

	border			: 1px solid #b8b9bb;
}

table#dirList thead
{
	background-color	: #b8b9bb;
	color			: #ddecef;
}

table#dirList th,
table#dirList td
{
	padding			: 3px 8px;
}

table#dirList tbody tr
{
	border-bottom		: 1px dotted #858687;
}

table#dirList tbody tr:hover
{
	color			: #bc4676;
	border-bottom		: 1px dotted #bc4676;
}

table#dirList a
{
	padding-left		: 3px;
	padding-right		: 3px;
}

th.icon,
td.icon
{
	width			: 60px;
}

th.name,
td.name
{
	width			: 260px;
}

th.perms,
td.perms
{
	width			: 120px;
}

th.mtime,
td.mtime
{
	width			: 200px;
}

th.size,
td.size
{
	width			: 120px;
}


th.name,
th.perms,
td.name,
td.perms
{
	text-align		: left;
}

th.mtime,
th.size,
td.mtime,
td.size
{
	text-align		: right;
}

/*
 * Page footer
 */
#pgFoot
{
	height			: 40px;
	overflow		: hidden;

	margin-top		: 20px;
	padding			: 10px 5px;

	background-color	: #ddecef;
	color			: #5f787a;

	border-top		: 1px solid #bc4676;
}

#pgFoot p
{
	padding			: 2px 5px;

	font-size		: 0.9em;
	font-weight		: normal;

	text-align		: left;
}

/*
 * More information
 */
#pgMore
{
	color			: #bc4676;

	padding			: 2px 5px;

	font-size		: 0.8em;
	font-weight		: normal;

	text-align		: right;
}

/*
 * File information
 */
#fileInfo
{
	position		: fixed !important;

	min-height		: 60px;

	bottom			: 0px;
	left			: 0px;
	right			: 0px;

	padding			: 5px;

	background-color	: #bfd9da;
	color			: #5f787a;
	border			: 1px solid #5f787a;

	text-align		: justify;
}


/*
 * 'About' dialog
 */
#pgAbout
{
	position		: absolute;
	width			: 450px;

	margin			: auto;
	padding			: 5px;

	background-color	: #ddecef;
	border			: 1px solid #bfd9da;

	z-index			: 10;
}

#pgAbout div
{
	border			: 1px solid #87aaae;
}

#pgAbout h2
{
	font-size		: 1.3em;
	font-weight		: bold;

	padding			: 2px;
	margin-bottom		: 10px;

	background-color	: #87aaae;
	color			: #f6f6f6;

	text-align		: center;
}

#pgAbout p
{
	padding			: 10px;

	color			: #5e7679;

	text-align		: justify;
}
